* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #282e33;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: #1a1d21;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

/* Add these new styles */
.groupsButton {
  padding: 15px 30px !important;
  font-size: 18px !important;
  height: auto !important;
}

.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: #1a1d21;
}